spring:
  application:
    name: gym_tracker

  jackson:
    property-naming-strategy: SNAKE_CASE

  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: vadim.tkach2017@gmail.com
    password: ${GMAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

jwt:
  secret: ${JWT_SECRET}
  ttl-millis: 43200000

frontend:
  base-url: ${FRONTEND_BASE_URL}

password:
  reset:
    ttl-hours: 24
